:root {
  /* Hopkins */
  --hopkins-header-text-color: white;
  --hopkins-header-background-color: #343a40;
  --hopkins-sidenav-text-color: white;
  --hopkins-sidenav-background-color: #343a40;
  /* Bavaria */
  --bavaria-header-text-color: white;
  --bavaria-header-background-color: rgb(174, 104, 104);
  --bavaria-sidenav-text-color: white;
  --bavaria-sidenav-background-color: rgb(174, 104, 104);
  /* FDA  */
  --fda-header-text-color: white;
  --fda-header-background-color: #0a3f73;
  --fda-sidenav-text-color: white;
  --fda-sidenav-background-color: #0a3f73;
  /* global colors */
  --header-text-color: var(--hopkins-header-text-color);
  --header-background-color: var(--hopkins-header-background-color);
  --header-icon-text-color: white;
  --sidenav-text-color: var(--hopkins-sidenav-text-color);
  --sidenav-background-color: var(--hopkins-sidenav-background-color);
  --footer-text-color: var(--hopkins-sidenav-text-color);
  --footer-background-color: var(--hopkins-sidenav-background-color);
}

.header-text-color {
  color: var(--header-text-color);
}
.header-icon-text-color {
  color: var(--header-icon-text-color);
}
/* .navbar-toggler-icon {
  background-color: white;
} */
/* .navbar-toggler {
  border-color: white;
} */
.header-background {
  background-color: var(--header-background-color);
}
.hopkins-header-background {
  background-color: #343a40;
}
.bavaria-header-background {
  background-color: var(--bavaria-header-background-color);
}
.fda-header-background {
  background-color: var(--fda-header-background-color);
}
.sidenav-style {
  background-color: var(--sidenav-background-color);
  border: 2px solid black;
}
.footer {
  width: 100%;
  height: 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 5px;
  color: var(--footer-text-color);
  background-color: var(--footer-background-color);
  display: flex;
  justify-content: center;
}
.add-bottom-border {
  border-bottom: 1px solid white;
}
.signup-dropdown {
  margin-top: 10px;
}
.login-header {
  font-weight: bold;
  margin-bottom: 5px;
}
/* login page view in mobile devices needs to be full width */
.login-view {
}
.container-height {
  height: 80vh;
}
@media (max-width: 700px) {
  .login-view {
    width: 100% !important;
  }
  .container-height {
    height: 100%;
  }
}
.nav-height {
  height: 55vw;
}
